.digital-skills-title {
    font-family: "Lato Black";
    font-size: 25px;
    padding-left: 13px;
    text-decoration: underline;
}

.digital-skills {
    padding-top: 80px;
    padding-bottom: 15px;
}