.name {
    font-family: "Lato Black";
    font-size: 35px;
}

.name-section {
    padding-top: 100px;
    padding-bottom: 80px;
}

.image{
    width: 100%;
    border-radius: 150%;
}

.contact-title {
    font-family: "Lato Black";
    font-size: 25px;
    padding-bottom: 15px;
    text-decoration: underline;
}

.contact-text {
    font-family: Lato;
    font-size: 18px;
}

.social-title {
    font-family: "Lato Black";
    text-decoration: underline;
    font-size: 25px;
    padding-bottom: 15px;
}

.social-text {
    font-family: Lato;
    font-size: 18px;
}

.description-title {
    font-family: "Lato Black";
    font-size: 25px;
    padding-left: 13px;
    text-decoration: underline;
}

.description {
    padding-top: 80px;
    padding-bottom: 15px;
}

.description-text {
    font-family: Lato;
    font-size: 18px;
    padding-left: 13px;
}

.work-experience {
    padding-top: 80px;
    padding-bottom: 15px;
}

.work-experience-title {
    font-family: "Lato Black";
    font-size: 25px;
    padding-left: 13px;
    text-decoration: underline;
}

.work-experience-text {
    font-family: Lato;
    font-size: 18px;
    padding-left: 13px;
}

